<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <style>
        body {
            font-family: "Ethiopic Zelan", Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
            font-size: 32px;
            margin-bottom: 20px;
        }

        p {
            color: #666;
            font-size: 18px;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <h1>እንኳን ደህና መጡ</h1>
    <p>ስርጋችሁን በተፋጠነ እና በከለለ መልኩ እናከናዉናለን</p>
</body>
</html>

